@model Lab8.Models.Person
@{
    ViewBag.Title = "Удаление пользователя";
}
<h2>Удаление пользователя:</h2>
<div>
    <dl class="dl-horizontal"  style="font-size:1.7rem">
        <dt>Имя</dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>Телефон</dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>

    <div>
        <form asp-controller="Home" asp-action="Delete" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Удалить" />
            </div>
        </form>
    </div>
</div>