


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Phone Dictionary</title>
    <link href="~/Content/Index.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>@RenderSection("Header")</header>
    <section>@RenderBody()</section>
    <footer>@RenderSection("Footer")</footer>
</body>
</html>
