@using ASP3MVC.Helpers;
@{
    Layout = "~/Views/Dict/Main.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div>
        <h3>Форма добавления объекта</h3>
        @Html.AddForm()
    </div>
</body>
</html>
