<tr>
    <td><p>@ViewBag.Object.FIO</p></td>
    <td><p>@ViewBag.Object.Telephone</p></td>
    <td><p><a href="/Dict/Update?id=@ViewBag.Object.Id">Изменить</a></p></td>
    <td><p><a href="/Dict/Delete?id=@ViewBag.Object.Id">Удалить</a></p></td>
</tr>